In [ ]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import teamgamelog
import pandas as pd

nba_teams = teams.get_teams()
team_id = nba_teams[17]['id']  # example: Indiana Pacers

gamelog = teamgamelog.TeamGameLog(team_id=team_id, season='2023')
df = gamelog.get_data_frames()[0]
df.head()

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612754,0022301188,"APR 14, 2024",IND vs. ATL,W,47,35,0.573,240,65,...,0.800,12,36,48,41,10,6,14,24,157
1,1610612754,0022301174,"APR 12, 2024",IND @ CLE,L,46,35,0.568,240,46,...,0.864,7,32,39,37,7,2,13,17,120
2,1610612754,0022301146,"APR 09, 2024",IND @ TOR,W,46,34,0.575,240,54,...,0.696,15,29,44,33,9,8,13,23,140
3,1610612754,0022301133,"APR 07, 2024",IND vs. MIA,W,45,34,0.570,240,44,...,0.952,4,33,37,27,4,6,6,24,117
4,1610612754,0022301116,"APR 05, 2024",IND vs. OKC,W,44,34,0.564,240,46,...,0.905,8,31,39,30,8,5,13,23,126